In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('/content/cinema_ticket_sales_uncleaned.csv')
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD109720,CUST6419,Priya Singh,priya395@example.com,12345,Love & Pixels,PVR Phoenix,Delhi,2020-09-10,13:45,...,NaN,2.0,NaN,Agent A,NaN,BKG44801,Screen 1,Family,NEW50,0.0
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",NaN,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
2,ORD107578,CUST4789,NaN,user503@example.com,+918304115560,Final Alarm,Inox Mall,Ahmedabad,2025-06-16,23:30,...,"A2,A27",-1.0,VIP guest,Agent B,False,BKG88708,Screen 3,Single,NaN,50.0
3,ORD107065,CUST18879,Sangeetha K,sangeetha366@example.com,98765 43210,Ocean's Whisper,Inox Mall,Mumbai,2023-11-26,13:45,...,"C3,C11,B22,C10",6.0,Cancelled,Agent A,True,BKG34048,Screen 3,NaN,NEW50,100.0
4,ORD104211,CUST43989,John Doe,john861@example.com,98765 43210,Ocean's Whisper,Grand Theatre,Bengaluru,2023-04-16,20:30,...,NaN,4.0,Late arrival,Agent B,True,BKG15632,Screen 1,Family,save10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,ORD102895,CUST94041,NaN,user644@example.com,12345,House of Tricks,Cinepolis Plaza,Hyderabad,2019-10-11,16:45,...,NaN,-1.0,Cancelled,Agent A,True,BKG96206,Screen 3,Family,FREESNACK,50.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,NaN,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,NaN,2025-03-22,16:45,...,"A22,A28,B6,A18",NaN,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0
10049,ORD100235,CUST30423,NaN,user969@example.com,12345,House of Tricks,NaN,Ahmedabad,2023-04-14,11:45,...,NaN,5.0,VIP guest,Agent B,True,BKG42547,Screen 3,NaN,NEW50,NaN

In [ ]:
df.drop_duplicates(subset='Order_ID',keep='last')

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD109720,CUST6419,Priya Singh,priya395@example.com,12345,Love & Pixels,PVR Phoenix,Delhi,2020-09-10,13:45,...,NaN,2.0,NaN,Agent A,NaN,BKG44801,Screen 1,Family,NEW50,0.0
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",NaN,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
2,ORD107578,CUST4789,NaN,user503@example.com,+918304115560,Final Alarm,Inox Mall,Ahmedabad,2025-06-16,23:30,...,"A2,A27",-1.0,VIP guest,Agent B,False,BKG88708,Screen 3,Single,NaN,50.0
3,ORD107065,CUST18879,Sangeetha K,sangeetha366@example.com,98765 43210,Ocean's Whisper,Inox Mall,Mumbai,2023-11-26,13:45,...,"C3,C11,B22,C10",6.0,Cancelled,Agent A,True,BKG34048,Screen 3,NaN,NEW50,100.0
4,ORD104211,CUST43989,John Doe,john861@example.com,98765 43210,Ocean's Whisper,Grand Theatre,Bengaluru,2023-04-16,20:30,...,NaN,4.0,Late arrival,Agent B,True,BKG15632,Screen 1,Family,save10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,ORD102895,CUST94041,NaN,user644@example.com,12345,House of Tricks,Cinepolis Plaza,Hyderabad,2019-10-11,16:45,...,NaN,-1.0,Cancelled,Agent A,True,BKG96206,Screen 3,Family,FREESNACK,50.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,NaN,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,NaN,2025-03-22,16:45,...,"A22,A28,B6,A18",NaN,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0
10049,ORD100235,CUST30423,NaN,user969@example.com,12345,House of Tricks,NaN,Ahmedabad,2023-04-14,11:45,...,NaN,5.0,VIP guest,Agent B,True,BKG42547,Screen 3,NaN,NEW50,NaN

In [ ]:
df.drop_duplicates(subset=['Customer_ID','Email'],inplace=True)

In [ ]:
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD109720,CUST6419,Priya Singh,priya395@example.com,12345,Love & Pixels,PVR Phoenix,Delhi,2020-09-10,13:45,...,NaN,2.0,NaN,Agent A,NaN,BKG44801,Screen 1,Family,NEW50,0.0
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",NaN,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
2,ORD107578,CUST4789,NaN,user503@example.com,+918304115560,Final Alarm,Inox Mall,Ahmedabad,2025-06-16,23:30,...,"A2,A27",-1.0,VIP guest,Agent B,False,BKG88708,Screen 3,Single,NaN,50.0
3,ORD107065,CUST18879,Sangeetha K,sangeetha366@example.com,98765 43210,Ocean's Whisper,Inox Mall,Mumbai,2023-11-26,13:45,...,"C3,C11,B22,C10",6.0,Cancelled,Agent A,True,BKG34048,Screen 3,NaN,NEW50,100.0
4,ORD104211,CUST43989,John Doe,john861@example.com,98765 43210,Ocean's Whisper,Grand Theatre,Bengaluru,2023-04-16,20:30,...,NaN,4.0,Late arrival,Agent B,True,BKG15632,Screen 1,Family,save10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,ORD102895,CUST94041,NaN,user644@example.com,12345,House of Tricks,Cinepolis Plaza,Hyderabad,2019-10-11,16:45,...,NaN,-1.0,Cancelled,Agent A,True,BKG96206,Screen 3,Family,FREESNACK,50.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,NaN,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,NaN,2025-03-22,16:45,...,"A22,A28,B6,A18",NaN,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0
10049,ORD100235,CUST30423,NaN,user969@example.com,12345,House of Tricks,NaN,Ahmedabad,2023-04-14,11:45,...,NaN,5.0,VIP guest,Agent B,True,BKG42547,Screen 3,NaN,NEW50,NaN

In [ ]:
df.drop_duplicates(subset=['Customer_ID','Email'],keep='last')

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD109720,CUST6419,Priya Singh,priya395@example.com,12345,Love & Pixels,PVR Phoenix,Delhi,2020-09-10,13:45,...,NaN,2.0,NaN,Agent A,NaN,BKG44801,Screen 1,Family,NEW50,0.0
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",NaN,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
2,ORD107578,CUST4789,NaN,user503@example.com,+918304115560,Final Alarm,Inox Mall,Ahmedabad,2025-06-16,23:30,...,"A2,A27",-1.0,VIP guest,Agent B,False,BKG88708,Screen 3,Single,NaN,50.0
3,ORD107065,CUST18879,Sangeetha K,sangeetha366@example.com,98765 43210,Ocean's Whisper,Inox Mall,Mumbai,2023-11-26,13:45,...,"C3,C11,B22,C10",6.0,Cancelled,Agent A,True,BKG34048,Screen 3,NaN,NEW50,100.0
4,ORD104211,CUST43989,John Doe,john861@example.com,98765 43210,Ocean's Whisper,Grand Theatre,Bengaluru,2023-04-16,20:30,...,NaN,4.0,Late arrival,Agent B,True,BKG15632,Screen 1,Family,save10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,ORD102895,CUST94041,NaN,user644@example.com,12345,House of Tricks,Cinepolis Plaza,Hyderabad,2019-10-11,16:45,...,NaN,-1.0,Cancelled,Agent A,True,BKG96206,Screen 3,Family,FREESNACK,50.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,NaN,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,NaN,2025-03-22,16:45,...,"A22,A28,B6,A18",NaN,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0
10049,ORD100235,CUST30423,NaN,user969@example.com,12345,House of Tricks,NaN,Ahmedabad,2023-04-14,11:45,...,NaN,5.0,VIP guest,Agent B,True,BKG42547,Screen 3,NaN,NEW50,NaN

In [ ]:
df.drop_duplicates(subset='Booking_ID')

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD109720,CUST6419,Priya Singh,priya395@example.com,12345,Love & Pixels,PVR Phoenix,Delhi,2020-09-10,13:45,...,NaN,2.0,NaN,Agent A,NaN,BKG44801,Screen 1,Family,NEW50,0.0
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",NaN,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
2,ORD107578,CUST4789,NaN,user503@example.com,+918304115560,Final Alarm,Inox Mall,Ahmedabad,2025-06-16,23:30,...,"A2,A27",-1.0,VIP guest,Agent B,False,BKG88708,Screen 3,Single,NaN,50.0
3,ORD107065,CUST18879,Sangeetha K,sangeetha366@example.com,98765 43210,Ocean's Whisper,Inox Mall,Mumbai,2023-11-26,13:45,...,"C3,C11,B22,C10",6.0,Cancelled,Agent A,True,BKG34048,Screen 3,NaN,NEW50,100.0
4,ORD104211,CUST43989,John Doe,john861@example.com,98765 43210,Ocean's Whisper,Grand Theatre,Bengaluru,2023-04-16,20:30,...,NaN,4.0,Late arrival,Agent B,True,BKG15632,Screen 1,Family,save10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10044,ORD105056,CUST50091,Ravi Kumar,ravi717@example.com,12345,The Last Frontier,Regal Cinema,Delhi,2020-12-04,17:15,...,NaN,-1.0,VIP guest,NaN,False,BKG63215,NaN,Family,NEW50,10.0
10045,ORD102895,CUST94041,NaN,user644@example.com,12345,House of Tricks,Cinepolis Plaza,Hyderabad,2019-10-11,16:45,...,NaN,-1.0,Cancelled,Agent A,True,BKG96206,Screen 3,Family,FREESNACK,50.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,NaN,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,NaN,2025-03-22,16:45,...,"A22,A28,B6,A18",NaN,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0

In [ ]:
df['Customer_Name'].fillna('Unknown',inplace=True)
df['Customer_Name'].value_counts()

Customer_Name
Sangeetha K    2059
John Doe       2045
Ravi Kumar     2030
Amit Sharma    2011
Priya Singh    1905
Name: count, dtype: int64

In [ ]:
df['Email'].fillna('noemail@example.com',inplace=True)
df['Email'].value_counts()

Email
noemail@email.com       639
User311@Example.Com       9
User45@Example.Com        8
User539@Example.Com       8
User408@Example.Com       8
                       ...
Amit25@Example.Com        1
Amit744@Example.Com       1
John332@Example.Com       1
Priya819@Example.Com      1
Amit491@Example.Com       1
Name: count, Length: 4735, dtype: int64

In [ ]:
df['Movie_Title'].fillna('Untitled',inplace=True)
df['Movie_Title'].value_counts()

Movie_Title
Ocean'S Whisper      964
House Of Tricks      963
The Last Frontier    947
Midnight Sonata      925
Love & Pixels        917
Broken Strings       915
The Silent Echo      904
Space Riders         895
Hidden Truths        895
Final Alarm          865
Untitled             860
Name: count, dtype: int64

In [ ]:
df['Theatre'].fillna('Not Assigned',inplace=True)
df['Theatre'].value_counts()

Theatre
Regal Cinema       1735
Inox Mall          1688
Not Assigned       1680
Grand Theatre      1669
Pvr Phoenix        1644
Cinepolis Plaza    1634
Name: count, dtype: int64

In [ ]:
df['City'].fillna('Unknown',inplace=True)
df['City'].value_counts()

City
Bengaluru    1166
Delhi        1156
Pune         1153
Ahmedabad    1134
Kolkata      1130
Unknown      1101
Mumbai       1081
Hyderabad    1073
Chennai      1056
Name: count, dtype: int64

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Email', 'Phone',
       'Movie_Title', 'Theatre', 'City', 'Show_Date', 'Show_Time',
       'Booking_Date', 'Seat_Type', 'Quantity', 'Price', 'Discount',
       'Total_Amount', 'Payment_Mode', 'Payment_Status', 'Booking_Channel',
       'Seat_Numbers', 'Feedback_Score', 'Remarks', 'Sales_Agent',
       'Is_Refunded', 'Booking_ID', 'Screen', 'Ticket_Type', 'Promo_Code',
       'Loyalty_Points'],
      dtype='object')

In [ ]:
df['Seat_Type'].fillna('Regular',inplace=True)
df['Seat_Type'].value_counts()

Seat_Type
Regular     2863
Premium     1461
Vip         1456
Balcony     1430
Premium     1425
Reguler     1415
Name: count, dtype: int64

In [ ]:
df['Feedback_Score'].fillna(df['Feedback_Score']. median(),inplace=True)
df['Feedback_Score'].value_counts()

Feedback_Score
 5.000000    1336
 3.000000    1316
 2.873788    1287
 1.000000    1256
 2.000000    1238
 6.000000    1220
-1.000000    1217
 4.000000    1180
Name: count, dtype: int64

In [ ]:
df.drop(df[df['Price']<=0].index,inplace=True)
df['Price'].value_counts()

Price
871.97     3
1366.34    3
1468.94    3
1307.64    3
589.36     3
          ..
445.83     1
501.95     1
694.55     1
637.87     1
1492.13    1
Name: count, Length: 9112, dtype: int64

In [ ]:
df.drop(df[df['Quantity']<=0].index,inplace=True)
df['Quantity'].value_counts()

Quantity
2.0    1382
3.0    1375
1.0    1359
4.0    1350
Name: count, dtype: int64

In [ ]:
df.drop(df[df['Total_Amount']<=0].index,inplace=True)
df['Total_Amount'].value_counts()

Total_Amount
608.12     2
575.24     2
375.01     2
3929.44    2
1550.85    2
          ..
408.65     1
1316.73    1
2506.18    1
603.98     1
1536.96    1
Name: count, Length: 5460, dtype: int64

In [ ]:
df.drop(df[df['Booking_Date']>df['Show_Date']].index,inplace=True)
df[['Booking_Date','Show_Date']].value_counts()

Booking_Date  Show_Date
2024-01-05    2024-01-31    3
2023-04-05    2023-04-30    3
2020-12-23    2020-12-26    3
2025-08-21    2025-09-19    3
2021-06-16    2021-06-24    2
                           ..
2021-04-29    2021-05-25    1
              2021-05-23    1
              2021-05-19    1
              2021-05-13    1
2021-05-02    2021-05-10    1
Name: count, Length: 6479, dtype: int64

In [ ]:
df['Payment_Mode'].replace({'Cahs':'Cash','card':' Card'},inplace=True)
df['Payment_Mode'].value_counts()

Payment_Mode
Cash      3337
Card      3325
Upi       1733
Online    1655
Name: count, dtype: int64

In [ ]:
df['Seat_Type'].replace({'Reguler':'Regular','premium':'Premium'},inplace=True)
df['Seat_Type'].value_counts()

Seat_Type
Regular     4278
Premium     1461
Vip         1456
Balcony     1430
Premium     1425
Name: count, dtype: int64

In [ ]:
df['Payment_Status'].replace({'paid':'Paid','PAID':'Paid'},inplace=True)
df['Payment_Status'].value_counts()

Payment_Status
Pending    5042
Paid       2534
Failed     2474
Name: count, dtype: int64

In [ ]:
df.drop(df[(df['Feedback_Score']<1)|(df['Feedback_Score']>5)].index,inplace=True)
df['Feedback_Score'].value_counts()

Feedback_Score
3.0    1752
5.0     903
1.0     840
2.0     817
4.0     794
Name: count, dtype: int64

In [ ]:
df.drop(df[(df['Discount']<0)|(df['Discount']>100)].index,inplace=True)
df['Discount'].value_counts()

Discount
25.0    715
10.0    651
5.0     641
50.0    615
0.0     611
15.0    604
Name: count, dtype: int64

In [ ]:
df.loc[df['Total_Amount']>1000,['Booking_ID','Total_Amount']].value_counts()

Booking_ID  Total_Amount
BKG99881    4008.81         1
BKG10001    1436.87         1
BKG10031    1980.09         1
BKG10099    4474.86         1
BKG10183    4941.72         1
                           ..
BKG10545    4095.33         1
BKG10529    1036.37         1
BKG10504    2437.39         1
BKG10466    2740.64         1
BKG10442    1650.83         1
Name: count, Length: 2285, dtype: int64

In [ ]:
df.loc[df['Feedback_Score']>3,['Booking_ID','Feedback_Score']].value_counts()

Booking_ID  Feedback_Score
BKG93709    4.0               2
BKG71267    4.0               2
BKG22190    5.0               2
BKG47475    5.0               2
BKG44068    4.0               2
                             ..
BKG39519    4.0               1
BKG39464    4.0               1
BKG39439    5.0               1
BKG39380    4.0               1
BKG40164    5.0               1
Name: count, Length: 1477, dtype: int64

In [ ]:
df.loc[df['Payment_Status']=='Pending',['Booking_ID','Payment_Status']].value_counts()

Booking_ID  Payment_Status
BKG33999    Pending           2
BKG66713    Pending           2
BKG93709    Pending           2
BKG93950    Pending           2
BKG47281    Pending           2
                             ..
BKG42772    Pending           1
BKG42689    Pending           1
BKG42682    Pending           1
BKG42643    Pending           1
BKG43018    Pending           1
Name: count, Length: 1127, dtype: int64

In [ ]:
df.loc[df['Booking_Channel']=='Online',['Booking_ID','Booking_Channel']].value_counts()

Booking_ID  Booking_Channel
BKG22084    Online             2
BKG60843    Online             2
BKG83540    Online             2
BKG72222    Online             1
BKG70172    Online             1
                              ..
BKG43329    Online             1
BKG43381    Online             1
BKG43517    Online             1
BKG43680    Online             1
BKG41619    Online             1
Name: count, Length: 777, dtype: int64

In [ ]:
df.loc[df['Seat_Type']=='VIP','Seat_Type'].value_counts()

Seat_Type
VIP    643
Name: count, dtype: int64

In [ ]:
df['Is_Refunded'].value_counts()

Is_Refunded
True     1778
False    1775
Name: count, dtype: int64

In [ ]:
df.loc[df['Is_Refunded']=='True','Is_Refunded'].value_counts()
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",3.0,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,"A16,C30",4.0,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,"C13,C8,A26",3.0,NaN,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN
10,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,"A8,B3",2.0,VIP guest,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not Assigned,Chennai,2019-06-13,14:30,...,B4,2.0,NaN,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041,ORD107751,CUST25079,John Doe,john178@example.com,NaN,Ocean's Whisper,Not Assigned,Delhi,2020-03-31,18:30,...,NaN,5.0,NaN,Agent A,NaN,BKG21337,Screen 3,Family,FREESNACK,0.0
10042,ORD104225,CUST58196,Ravi Kumar,ravi590example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,"B22,A5",1.0,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,Unknown,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,Unknown,2025-03-22,16:45,...,"A22,A28,B6,A18",3.0,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0

In [ ]:
df.loc[df['Discount']>=0.5,['Discount','Booking_ID']].value_counts()

Discount  Booking_ID
10.0      BKG93950      2
          BKG14609      2
15.0      BKG47281      2
25.0      BKG22175      2
5.0       BKG96903      2
                       ..
10.0      BKG70658      1
          BKG70728      1
          BKG71295      1
          BKG71308      1
          BKG70197      1
Name: count, Length: 3216, dtype: int64

In [ ]:
df.loc[(df['Ticket_Type']=="Group")|(df['Ticket_Type']=="Family")&df['Quantity']>2]

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points]
Index: []

[0 rows x 29 columns]

In [ ]:
df.loc[df['Movie_Title']=='The Silent Echo','Movie_Title'].value_counts()

Movie_Title
The Silent Echo    392
Name: count, dtype: int64

In [ ]:
df.loc[(df['City']=='Chennai')&(df['Movie_Title']=='Space Riders')].value_counts()

Order_ID   Customer_ID  Customer_Name  Email                Phone  Movie_Title   Theatre    City     Show_Date   Show_Time  Booking_Date  Seat_Type  Quantity  Price    Discount  Total_Amount  Payment_Mode  Payment_Status  Booking_Channel  Seat_Numbers  Feedback_Score  Remarks       Sales_Agent  Is_Refunded  Booking_ID  Screen    Ticket_Type  Promo_Code  Loyalty_Points
ORD104005  CUST42021    Amit Sharma    amit639@example.com  12345  Space Riders  Inox Mall  Chennai  2023-10-03  23:00      2023-09-21    Regular    2.0       862.66   25.0      1294.00       UPI           Paid            Third-Party      A14,C24       3.0             Late arrival  Agent A      True         BKG31392    Screen 1  Combo        save10      10.0              1
ORD109440  CUST14948    Unknown        user175@example.com  12345  Space Riders  Inox Mall  Chennai  2019-10-13  11:15      2019-09-21    VIP        1.0       1425.86  50.0      712.93         Card         Paid            third party      C29           5.0             Late arrival  Agent B      False        BKG24463    Screen 1  Family       save10      10.0              1
Name: count, dtype: int64

In [ ]:
df['Net_Amount']=df['Price']*df['Quantity']*(1-df['Discount']/100)
df['Net_Amount']

1        4028.7510
7        1118.3500
9        2448.4275
10       1661.3030
13       1035.3765
           ...
10041          NaN
10042    1435.6260
10046     529.5680
10047          NaN
10048    1994.5000
Name: Net_Amount, Length: 4455, dtype: float64

In [ ]:
df['Booking_Date']=pd.to_datetime(df['Booking_Date'])

In [ ]:
df['Show_Date']=pd.to_datetime(df['Show_Date'])

In [ ]:
df['Booking_Lag'] = (df['Show_Date'] - df['Booking_Date']).dt.days
df['Booking_Lag']

1        24
7        12
9        20
10       29
13       16
         ..
10041    25
10042     4
10046    14
10047    22
10048    13
Name: Booking_Lag, Length: 4455, dtype: int64

In [ ]:
df['Revenue_Category']=df['Total_Amount'].apply(lambda x: 'High' if x>10000 else ('Mid' if x>5000 else 'Low'))
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points,Net_Amount,Booking_Lag,Revenue_Category
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,NaN,False,BKG91309,NaN,Family,save10,200.0,4028.7510,24,Low
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,Agent B,True,BKG52107,NaN,NaN,save10,0.0,1118.3500,12,Low
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN,2448.4275,20,Low
10,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0,1661.3030,29,Low
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not Assigned,Chennai,2019-06-13,14:30,...,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0,1035.3765,16,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041,ORD107751,CUST25079,John Doe,john178@example.com,NaN,Ocean's Whisper,Not Assigned,Delhi,2020-03-31,18:30,...,Agent A,NaN,BKG21337,Screen 3,Family,FREESNACK,0.0,NaN,25,Low
10042,ORD104225,CUST58196,Ravi Kumar,ravi590example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,1435.6260,4,Low
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,Unknown,2021-12-27,11:15,...,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0,529.5680,14,Low
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0,NaN,22,Low
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,Unknown,2025-03-22,16:45,...,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0,1994.5000,13,Low

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Email', 'Phone',
       'Movie_Title', 'Theatre', 'City', 'Show_Date', 'Show_Time',
       'Booking_Date', 'Seat_Type', 'Quantity', 'Price', 'Discount',
       'Total_Amount', 'Payment_Mode', 'Payment_Status', 'Booking_Channel',
       'Seat_Numbers', 'Feedback_Score', 'Remarks', 'Sales_Agent',
       'Is_Refunded', 'Booking_ID', 'Screen', 'Ticket_Type', 'Promo_Code',
       'Loyalty_Points', 'Net_Amount', 'Booking_Lag', 'Revenue_Category'],
      dtype='object')

In [ ]:
df['Customer_Type']=df['Is_Refunded'].apply(lambda x: 'Returning'if x==True else'first booking')
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points,Net_Amount,Booking_Lag,Revenue_Category,Customer_Type
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,False,BKG91309,NaN,Family,save10,200.0,4028.7510,24,Low,first booking
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,True,BKG52107,NaN,NaN,save10,0.0,1118.3500,12,Low,Returning
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,True,BKG87669,Screen 2,Family,NEW50,NaN,2448.4275,20,Low,Returning
10,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,False,BKG85139,Screen 3,Family,NEW50,0.0,1661.3030,29,Low,first booking
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not Assigned,Chennai,2019-06-13,14:30,...,False,BKG71656,Screen 1,Family,NEW50,0.0,1035.3765,16,Low,first booking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041,ORD107751,CUST25079,John Doe,john178@example.com,NaN,Ocean's Whisper,Not Assigned,Delhi,2020-03-31,18:30,...,NaN,BKG21337,Screen 3,Family,FREESNACK,0.0,NaN,25,Low,first booking
10042,ORD104225,CUST58196,Ravi Kumar,ravi590example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,NaN,BKG21670,NaN,Family,FREESNACK,0.0,1435.6260,4,Low,first booking
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,Unknown,2021-12-27,11:15,...,False,BKG95160,Screen 3,Single,FREESNACK,0.0,529.5680,14,Low,first booking
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,BKG57004,Screen 3,NaN,NaN,50.0,NaN,22,Low,first booking
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,Unknown,2025-03-22,16:45,...,True,BKG93772,Screen 1,Single,NEW50,50.0,1994.5000,13,Low,Returning

In [ ]:

df['Booking_Date']=pd.to_datetime(df['Booking_Date'])


df['is_weekend'] = df['Booking_Date'].dt.weekday.isin([5,6]).map({True: 'Yes', False: 'No'})

In [ ]:
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points,Net_Amount,Booking_Lag,Revenue_Category,Customer_Type,is_weekend
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,BKG91309,NaN,Family,save10,200.0,4028.7510,24,Low,first booking,No
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,BKG52107,NaN,NaN,save10,0.0,1118.3500,12,Low,Returning,Yes
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,BKG87669,Screen 2,Family,NEW50,NaN,2448.4275,20,Low,Returning,Yes
10,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,BKG85139,Screen 3,Family,NEW50,0.0,1661.3030,29,Low,first booking,Yes
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not Assigned,Chennai,2019-06-13,14:30,...,BKG71656,Screen 1,Family,NEW50,0.0,1035.3765,16,Low,first booking,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041,ORD107751,CUST25079,John Doe,john178@example.com,NaN,Ocean's Whisper,Not Assigned,Delhi,2020-03-31,18:30,...,BKG21337,Screen 3,Family,FREESNACK,0.0,NaN,25,Low,first booking,No
10042,ORD104225,CUST58196,Ravi Kumar,ravi590example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,BKG21670,NaN,Family,FREESNACK,0.0,1435.6260,4,Low,first booking,No
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,Unknown,2021-12-27,11:15,...,BKG95160,Screen 3,Single,FREESNACK,0.0,529.5680,14,Low,first booking,No
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,BKG57004,Screen 3,NaN,NaN,50.0,NaN,22,Low,first booking,Yes
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,Unknown,2025-03-22,16:45,...,BKG93772,Screen 1,Single,NEW50,50.0,1994.5000,13,Low,Returning,Yes

In [ ]:
df['Payment_Status']=df['Payment_Status'].replace({'Paid':1, 'Pending':2, 'Failed':3})

In [ ]:
df['Payment_Status'].unique()

array([nan,  2.,  3.,  1.])

In [ ]:
df['Payment_Status'].fillna(df['Payment_Status'].mode(),inplace=True)
df['Payment_Status'].unique()

array([3, 2, 1])

In [ ]:
df.apply(lambda col:col.str.strip() if col.dtype=='object' else col)

In [ ]:
df.apply(lambda col:col.str.title() if col.dtype=='object' else col)

In [ ]:
df['Show_Year'] = df['Show_Date'].dt.year
df['Show_Year']

1        2021
7        2023
9        2019
10       2022
13       2019
         ...
10041    2020
10042    2023
10046    2021
10047    2022
10048    2025
Name: Show_Year, Length: 4455, dtype: int32

In [ ]:
df['Show_Month'] = df['Show_Date'].dt.month
df['Show_Month']

1         1
7         5
9         5
10        5
13        6
         ..
10041     3
10042    11
10046    12
10047     9
10048     3
Name: Show_Month, Length: 4455, dtype: int32

In [ ]:
df['Show_Date']=pd.to_datetime(df['Show_Date'],errors='coerce').dt.strftime('%Y-%m-%d')
df['Show_Date']

1        2021-01-21
7        2023-05-26
9        2019-05-18
10       2022-05-30
13       2019-06-13
            ...
10041    2020-03-31
10042    2023-11-18
10046    2021-12-27
10047    2022-09-18
10048    2025-03-22
Name: Show_Date, Length: 4455, dtype: object

In [ ]:
df['Booking_Date']=pd.to_datetime(df['Booking_Date'],errors='coerce').dt.strftime('%Y-%m-%d')
df['Booking_Date']

1        2020-12-28
7        2023-05-14
9        2019-04-28
10       2022-05-01
13       2019-05-28
            ...
10041    2020-03-06
10042    2023-11-14
10046    2021-12-13
10047    2022-08-27
10048    2025-03-09
Name: Booking_Date, Length: 4455, dtype: object

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Email', 'Phone',
       'Movie_Title', 'Theatre', 'City', 'Show_Date', 'Show_Time',
       'Booking_Date', 'Seat_Type', 'Quantity', 'Price', 'Discount',
       'Total_Amount', 'Payment_Mode', 'Payment_Status', 'Booking_Channel',
       'Seat_Numbers', 'Feedback_Score', 'Remarks', 'Sales_Agent',
       'Is_Refunded', 'Booking_ID', 'Screen', 'Ticket_Type', 'Promo_Code',
       'Loyalty_Points', 'Net_Amount', 'Booking_Lag', 'Revenue_Category',
       'Customer_Type', 'is_weekend', 'Show_Year', 'Show_Month'],
      dtype='object')

In [ ]:
df.groupby('Movie_Title')['Total_Amount'].sum().sort_values(ascending=False).head(5)

Movie_Title
The Last Frontier    677686.29
Ocean's Whisper      621303.42
Broken Strings       590308.55
The Silent Echo      580841.04
Space Riders         562857.00
Name: Total_Amount, dtype: float64

In [ ]:
df.groupby('Theatre')['Price'].sum().sort_values(ascending=False).head(5)

Theatre
Regal Cinema       633967.69
Grand Theatre      583412.93
PVR Phoenix        581351.65
Inox Mall          571181.50
Cinepolis Plaza    567656.77
Name: Price, dtype: float64

In [ ]:
df.groupby('City')['Total_Amount'].sum().sort_values(ascending=False)

City
Delhi        756729.14
Ahmedabad    710754.78
Pune         708204.19
Kolkata      702138.15
Bengaluru    691030.90
Mumbai       674175.46
Hyderabad    659250.99
Unknown      651449.21
Chennai      631465.23
Name: Total_Amount, dtype: float64

In [ ]:
df['City'].unique()

array(['Kolkata', 'Mumbai', 'Bengaluru', 'Unknown', 'Chennai',
       'Ahmedabad', 'Delhi', 'Pune', 'Hyderabad'], dtype=object)

In [ ]:
df.groupby('Movie_Title')['Price'].mean()

Movie_Title
Broken Strings       815.947971
Final Alarm          776.742585
Hidden Truths        789.515840
House of Tricks      772.986845
Love & Pixels        830.981740
Midnight Sonata      749.581760
Ocean's Whisper      814.702528
Space Riders         806.644112
The Last Frontier    817.441340
The Silent Echo      844.554807
Untitled             775.847447
Name: Price, dtype: float64

In [ ]:
df.groupby('Movie_Title')['Feedback_Score'].mean()

Movie_Title
Broken Strings       3.011820
Final Alarm          2.975069
Hidden Truths        2.979849
House of Tricks      3.032581
Love & Pixels        3.086514
Midnight Sonata      3.004773
Ocean's Whisper      2.995565
Space Riders         3.014851
The Last Frontier    2.971765
The Silent Echo      3.063776
Untitled             3.035806
Name: Feedback_Score, dtype: float64

In [ ]:
df['Payment_Mode'].mode()

0    Cash
Name: Payment_Mode, dtype: object

In [ ]:
df['Seat_Type'].mode()

0    Regular
Name: Seat_Type, dtype: object

In [ ]:
df.groupby('Customer_Name')['Total_Amount'].sum().sort_values(ascending=False)

Customer_Name
Unknown        1719305.62
Sangeetha K     929918.41
Amit Sharma     903494.58
Priya Singh     884152.74
John Doe        880749.38
Ravi Kumar      867577.32
Name: Total_Amount, dtype: float64

In [ ]:
df.groupby('Theatre')['Discount'].mean()

Theatre
Cinepolis Plaza    18.483871
Grand Theatre      17.202744
Inox Mall          17.605519
Not Assigned       17.212978
PVR Phoenix        17.711214
Regal Cinema       17.222222
Name: Discount, dtype: float64

In [ ]:
df.groupby('Booking_Channel')['Total_Amount'].sum()

Booking_Channel
Box Office     1059413.04
Online         1092387.59
Third-Party     956601.68
online         1122989.39
third party     966409.03
Name: Total_Amount, dtype: float64

In [ ]:
df.groupby('Customer_Name')['Email'].nunique()

Customer_Name
Amit Sharma    461
John Doe       449
Priya Singh    454
Ravi Kumar     475
Sangeetha K    462
Unknown        719
Name: Email, dtype: int64

In [ ]:
df['Customer_Name'].str.title()

1         Ravi Kumar
7        Amit Sharma
9         Ravi Kumar
10          John Doe
13           Unknown
            ...
10041       John Doe
10042     Ravi Kumar
10046    Sangeetha K
10047    Sangeetha K
10048    Priya Singh
Name: Customer_Name, Length: 4455, dtype: object

In [ ]:
df.isnull().sum()

Order_ID               0
Customer_ID            0
Customer_Name          0
Email                  0
Phone               1080
Movie_Title            0
Theatre                0
City                   0
Show_Date              0
Show_Time              0
Booking_Date           0
Seat_Type              0
Quantity             880
Price                 90
Discount             618
Total_Amount         853
Payment_Mode         651
Payment_Status         0
Booking_Channel      702
Seat_Numbers         880
Feedback_Score         0
Remarks             1778
Sales_Agent         1089
Is_Refunded          902
Booking_ID             0
Screen              1157
Ticket_Type         1101
Promo_Code          1136
Loyalty_Points       764
Net_Amount          1446
Booking_Lag            0
Revenue_Category       0
Customer_Type          0
is_weekend             0
Show_Year              0
Show_Month             0
dtype: int64

In [ ]:
df['Price'].fillna(df['Price'].median(),inplace=True)
df['Price']

0        1044.37
1        1492.13
2         637.87
3         694.55
4         494.59
          ...
10045     944.03
10046     139.36
10047    1476.96
10048     997.25
10049     514.51
Name: Price, Length: 10050, dtype: float64

In [ ]:
df['Quantity'].fillna(df['Quantity'].median(),inplace=True)
df['Quantity']

0        0.0
1        3.0
2        2.0
3        4.0
4        0.0
        ...
10045    0.0
10046    4.0
10047    1.0
10048    4.0
10049    0.0
Name: Quantity, Length: 10050, dtype: float64

In [ ]:
df.isnull().sum()

Order_ID              0
Customer_ID           0
Customer_Name      2854
Email               639
Phone              2452
Movie_Title         860
Theatre            1680
City               1101
Show_Date             0
Show_Time             0
Booking_Date          0
Seat_Type          1448
Quantity              0
Price                 0
Discount              0
Total_Amount          0
Payment_Mode          0
Payment_Status     2538
Booking_Channel       0
Seat_Numbers       4323
Feedback_Score     1287
Remarks               0
Sales_Agent           0
Is_Refunded        2018
Booking_ID            0
Screen             2566
Ticket_Type        2550
Promo_Code         2523
Loyalty_Points     1706
dtype: int64

In [ ]:
df['Show_Date']=pd.to_datetime(df['Show_Date'])
df['Show_Date']

1       2021-01-21
7       2023-05-26
9       2019-05-18
10      2022-05-30
13      2019-06-13
           ...
10041   2020-03-31
10042   2023-11-18
10046   2021-12-27
10047   2022-09-18
10048   2025-03-22
Name: Show_Date, Length: 4455, dtype: datetime64[ns]

In [ ]:
validate=df['Price']*df['Quantity']*(1-df['Discount']/100)
df['Total_Amount']==validate.index

1        False
7        False
9        False
10       False
13       False
         ...
10041    False
10042    False
10046    False
10047    False
10048    False
Length: 4455, dtype: bool

In [ ]:
df['Booking_Date']=pd.to_datetime(df['Booking_Date'])
df['Show_Date']=pd.to_datetime(df['Show_Date'])
swapped = df[df['Booking_Date'] > df['Show_Date']]
swapped[['Booking_Date', 'Show_Date']]

Empty DataFrame
Columns: [Booking_Date, Show_Date]
Index: []

In [ ]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

outliers_iqr = df[(df['Price'] < lower) | (df['Price'] > upper)]

outliers_iqr

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points, Net_Amount, Booking_Lag, Revenue_Category, Customer_Type, is_weekend, Show_Year, Show_Month]
Index: []

[0 rows x 36 columns]

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Email', 'Phone',
       'Movie_Title', 'Theatre', 'City', 'Show_Date', 'Show_Time',
       'Booking_Date', 'Seat_Type', 'Quantity', 'Price', 'Discount',
       'Total_Amount', 'Payment_Mode', 'Payment_Status', 'Booking_Channel',
       'Seat_Numbers', 'Feedback_Score', 'Remarks', 'Sales_Agent',
       'Is_Refunded', 'Booking_ID', 'Screen', 'Ticket_Type', 'Promo_Code',
       'Loyalty_Points', 'Net_Amount', 'Booking_Lag', 'Revenue_Category',
       'Customer_Type', 'is_weekend', 'Show_Year', 'Show_Month'],
      dtype='object')

In [ ]:
df.drop(df[(df['Loyalty_Points'] < 0) | (df['Loyalty_Points'] > 1000)].index, inplace=True)
df['Loyalty_Points'].value_counts()

Loyalty_Points
0.0      776
10.0     754
200.0    739
50.0     736
100.0    686
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

Order_ID               0
Customer_ID            0
Customer_Name          0
Email                  0
Phone               1080
Movie_Title            0
Theatre                0
City                   0
Show_Date              0
Show_Time              0
Booking_Date           0
Seat_Type              0
Quantity               0
Price                  0
Discount             618
Total_Amount         853
Payment_Mode         651
Payment_Status         0
Booking_Channel      702
Seat_Numbers         880
Feedback_Score         0
Remarks             1778
Sales_Agent         1089
Is_Refunded          902
Booking_ID             0
Screen              1157
Ticket_Type         1101
Promo_Code          1136
Loyalty_Points       764
Net_Amount          1446
Booking_Lag            0
Revenue_Category       0
Customer_Type          0
is_weekend             0
Show_Year              0
Show_Month             0
dtype: int64

In [ ]:
df['Phone'].fillna(method='bfill',inplace=True)
df['Phone']

0                12345
1        +918304115560
2        +918304115560
3          98765 43210
4          98765 43210
             ...
10045            12345
10046            12345
10047            12345
10048      98765 43210
10049            12345
Name: Phone, Length: 10050, dtype: object

In [ ]:
df['Discount'].fillna(df['Discount'].mean(),inplace=True)
df['Discount']

0         0.0
1        10.0
2        50.0
3        -5.0
4         5.0
         ...
10045    15.0
10046     5.0
10047     0.0
10048    50.0
10049    15.0
Name: Discount, Length: 10050, dtype: float64

In [ ]:
df['Total_Amount'].fillna(df['Total_Amount'].mean(),inplace=True)
df['Total_Amount']

0        1733.769439
1        4038.750000
2         637.870000
3        2917.110000
4        1733.769439
            ...
10045    1733.769439
10046     529.570000
10047    1733.769439
10048    2004.510000
10049    1733.769439
Name: Total_Amount, Length: 10050, dtype: float64

In [ ]:
df['Payment_Mode'].fillna(method='ffill',inplace=True)
df['Payment_Mode']

0          Card
1          Card
2          Card
3           Upi
4          Cahs
          ...
10045      Cash
10046      Card
10047      Card
10048      Card
10049    Online
Name: Payment_Mode, Length: 10050, dtype: object

In [ ]:
df['Booking_Channel'].fillna(method='bfill',inplace=True)
df['Booking_Channel']

0             Online
1             Online
2         Box Office
3        Third Party
4        Third-Party
            ...
10045    Third Party
10046         Online
10047    Third Party
10048         Online
10049         Online
Name: Booking_Channel, Length: 10050, dtype: object

In [ ]:
df['Seat_Numbers'].fillna(method='ffill',inplace=True)
df['Seat_Numbers']

0                   B12
1            C20,B12,A1
2                A2,A27
3        C3,C11,B22,C10
4        C3,C11,B22,C10
              ...
10045            B22,A5
10046     B17,C6,A1,A17
10047     B17,C6,A1,A17
10048    A22,A28,B6,A18
10049    A22,A28,B6,A18
Name: Seat_Numbers, Length: 10050, dtype: object

In [ ]:
df['Remarks'].fillna('NaN',inplace=True)
df['Remarks']

0                 NaN
1           Vip Guest
2           Vip Guest
3           Cancelled
4        Late Arrival
             ...
10045       Cancelled
10046       Vip Guest
10047    Late Arrival
10048    Late Arrival
10049       Vip Guest
Name: Remarks, Length: 10050, dtype: object

In [ ]:
df['Sales_Agent'].fillna('NaN',inplace=True)
df['Sales_Agent']

0        Agent A
1            NaN
2        Agent B
3        Agent A
4        Agent B
          ...
10045    Agent A
10046        NaN
10047    Agent B
10048    Agent A
10049    Agent B
Name: Sales_Agent, Length: 10050, dtype: object

In [ ]:
df.isnull().sum()

Order_ID              0
Customer_ID           0
Customer_Name      2854
Email               639
Phone              2452
Movie_Title         860
Theatre            1680
City               1101
Show_Date             0
Show_Time             0
Booking_Date          0
Seat_Type          1448
Quantity              0
Price                 0
Discount              0
Total_Amount          0
Payment_Mode          0
Payment_Status     2538
Booking_Channel       0
Seat_Numbers       4323
Feedback_Score     1287
Remarks               0
Sales_Agent           0
Is_Refunded        2018
Booking_ID            0
Screen             2566
Ticket_Type        2550
Promo_Code         2523
Loyalty_Points     1706
dtype: int64

In [ ]:

df['Is_Refunded'].fillna(method='bfill',inplace=True)
df['Is_Refunded']

0        False
1        False
2        False
3         True
4         True
         ...
10045     True
10046    False
10047     True
10048     True
10049     True
Name: Is_Refunded, Length: 10050, dtype: bool

In [ ]:
df['Screen'].fillna(method='bfill',inplace=True)
df['Screen']

0        Screen 1
1        Screen 3
2        Screen 3
3        Screen 3
4        Screen 1
           ...
10045    Screen 3
10046    Screen 3
10047    Screen 3
10048    Screen 1
10049    Screen 3
Name: Screen, Length: 10050, dtype: object

In [ ]:

df['Ticket_Type'].fillna('NaN',inplace=True)
df['Ticket_Type']

0        Family
1        Family
2        Single
3           NaN
4        Family
          ...
10045    Family
10046    Single
10047       NaN
10048    Single
10049       NaN
Name: Ticket_Type, Length: 10050, dtype: object

In [ ]:
df['Promo_Code'].fillna(method='ffill',inplace=True)
df['Promo_Code']

0            New50
1           Save10
2            New50
3            New50
4           Save10
           ...
10045    Freesnack
10046    Freesnack
10047        New50
10048        New50
10049        New50
Name: Promo_Code, Length: 10050, dtype: object

In [ ]:

df['Loyalty_Points'].fillna(df['Loyalty_Points'].mean(),inplace=True)
df['Loyalty_Points']

0          0.000000
1        200.000000
2         50.000000
3        100.000000
4         71.285954
            ...
10045     50.000000
10046      0.000000
10047     50.000000
10048     50.000000
10049     71.285954
Name: Loyalty_Points, Length: 10050, dtype: float64

In [ ]:
df['Customer_Name'].fillna(method='ffill',inplace=True)
df['Customer_Name']

0        Priya Singh
1         Ravi Kumar
2         Ravi Kumar
3        Sangeetha K
4           John Doe
            ...
10045     Ravi Kumar
10046    Sangeetha K
10047    Sangeetha K
10048    Priya Singh
10049    Priya Singh
Name: Customer_Name, Length: 10050, dtype: object

In [ ]:
df['Email'].fillna('noemail@email.com',inplace=True)
df['Email']

0            Priya395@Example.Com
1             Ravi606@Example.Com
2             User503@Example.Com
3        Sangeetha366@Example.Com
4             John861@Example.Com
                   ...
10045         User644@Example.Com
10046    Sangeetha338@Example.Com
10047    Sangeetha149@Example.Com
10048        Priya470@Example.Com
10049         User969@Example.Com
Name: Email, Length: 10050, dtype: object

In [ ]:
df['Movie_Title'].fillna('Untitled',inplace=True)
df['Movie_Title']

0            Love & Pixels
1          Midnight Sonata
2              Final Alarm
3          Ocean'S Whisper
4          Ocean'S Whisper
               ...
10045      House Of Tricks
10046    The Last Frontier
10047      The Silent Echo
10048      Midnight Sonata
10049      House Of Tricks
Name: Movie_Title, Length: 10050, dtype: object

In [ ]:
df['Theatre'].fillna('Not Assigned',inplace=True)
df['Theatre']

0            Pvr Phoenix
1          Grand Theatre
2              Inox Mall
3              Inox Mall
4          Grand Theatre
              ...
10045    Cinepolis Plaza
10046        Pvr Phoenix
10047          Inox Mall
10048          Inox Mall
10049       Not Assigned
Name: Theatre, Length: 10050, dtype: object

In [ ]:
df['City'].fillna('Unknown',inplace=True)
df['City']

0            Delhi
1          Kolkata
2        Ahmedabad
3           Mumbai
4        Bengaluru
           ...
10045    Hyderabad
10046      Unknown
10047       Mumbai
10048      Unknown
10049    Ahmedabad
Name: City, Length: 10050, dtype: object

In [ ]:
df['Seat_Type'].fillna('Regular',inplace=True)
df['Seat_Type']

0        Reguler
1        Regular
2            Vip
3        Regular
4        Regular
          ...
10045        Vip
10046    Reguler
10047    Balcony
10048    Premium
10049    Premium
Name: Seat_Type, Length: 10050, dtype: object

In [ ]:
df['Payment_Status'].fillna('Pending',inplace=True)
df['Payment_Status']

0         Failed
1        Pending
2           Paid
3        Pending
4           Paid
          ...
10045     Failed
10046     Failed
10047     Failed
10048       Paid
10049    Pending
Name: Payment_Status, Length: 10050, dtype: object

In [ ]:
df['Feedback_Score'].fillna(df['Feedback_Score'].mean(),inplace=True)
df['Feedback_Score']

0        2.000000
1        2.873788
2       -1.000000
3        6.000000
4        4.000000
           ...
10045   -1.000000
10046    4.000000
10047    1.000000
10048    2.873788
10049    5.000000
Name: Feedback_Score, Length: 10050, dtype: float64

In [ ]:
df.isnull().sum()

Order_ID           0
Customer_ID        0
Customer_Name      0
Email              0
Phone              0
Movie_Title        0
Theatre            0
City               0
Show_Date          0
Show_Time          0
Booking_Date       0
Seat_Type          0
Quantity           0
Price              0
Discount           0
Total_Amount       0
Payment_Mode       0
Payment_Status     0
Booking_Channel    0
Seat_Numbers       0
Feedback_Score     0
Remarks            0
Sales_Agent        0
Is_Refunded        0
Booking_ID         0
Screen             0
Ticket_Type        0
Promo_Code         0
Loyalty_Points     0
dtype: int64

In [ ]:
from google.colab import files

df.to_excel("cinema_cleaned_dataset.xlsx", index=False)

files.download("cinema_cleaned_dataset.xlsx")